{{ define "main" }}
	<main>
	</main>

{{ partial "header.html" . }}

<!-- <h2 class="tc f1">Launching Fall 2020</h2> -->

<h4 class="mw6 center ba b--dashed pa3">*What follows is a provisional idea, subject to further conversation. See the CFP below to get involved.</h4>

<div class="mw6 center tc pa3">
	{{ with .OutputFormats.Get "txt" -}}
		📄 <a href="{{ .RelPermalink }}" rel="alt">read in .txt</a> 📄
	{{- end }}
</div>

{{ range sort (where .Site.AllPages "Type" "overview") ".Params.order" }}
	<div class="mw7 center ph3-ns">
	  <div class="cf ph2-ns">
	    <div class="fl w-30 w-30-ns pa2">
	      <h3 class="f2">{{ with .Params.title }} {{ . }} {{ end }}</h3>
	    </div>
	    <div class="fl w-70 w-70-ns pa2">
	      {{ with .Content }} {{ . }} {{ end }}
	    </div>
	  </div>
	</div>
{{ end }}

<br/>
<p class="tc">❀</p>
<br/>

<!-- blog posts -->

<h3 class="f2 tc">The Latest</h3>

{{ range first 1 (where .Site.AllPages "Type" "article") }}
	<div class="mw7 center ph3-ns">
		<div class="cf ph2-ns">
			<div class="fl w-30 w-30-ns pa2">
				<h2 class="f3">
						<a href="{{ .Permalink }}">{{ .Title }}</a>
					</h2>
					<p>
						<ul style="list-style-type:none;padding:0;">
		        {{ range .Params.authors }}
		            <li>{{ . }}</li>
		        {{ end }}
		        </ul>
					</p>
					<p>
						{{ dateFormat "Jan 2, 2006" .Date }}
					</p>
				</div>
			<div class="fl w-70 w-70-ns pa2">
				<p>
					{{ .Summary }}
					{{ if .Truncated }}
						<a href="{{ .Permalink }}">continue reading...</a>
					{{ end }}
				</p>
	    </div>
		</div>
	</div>
{{end}}

<br/>
<p class="tc">❀</p>

{{ end }}
